@import '_scssconstants';

.site-header {
    border: 5px solid $primary-colour;
    border-left: 0;
    border-right: 0;
    border-color: $primary-colour;
    margin-bottom: 1em;
    line-height: 3em;
}

.site-footer {
    border: 5px solid $primary-colour;
    border-left: 0;
    border-right: 0;
    border-color: $primary-colour;
    height: 4em;
}

.site-body {
    margin: 0 1rem;
    min-height: 100%;
    margin-bottom: -4em;
}


.navbar {
    margin: 0em;
    padding: 0em;
    list-style: none;
        
    li {
        display: inline-block;
        margin-left: -4px;
        border-right: 1px $primary-colour solid;
        background: black;
        
        a {
            color: $primary-colour;
            display: block;
            padding: 0 20;
            text-decoration: none;
        }
    }
}

.logo {
    margin: 0px;
    display: inline;
    margin-left: 1rem;
}

.title {
    margin-top: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: gray;
}

.content {
    
}