@import 'scssconstants';
@import 'colors';
@import 'layouts';
@import 'components';

html {
    //font-size: 16px; Don't set a default font size, this way users can specify what size they want instead :)
    //poor ux as a result of this is on the user. The App should handle "normal" font sizes gracefully, but absurd 
    //sizes (72px?) don't need to be handled
}

div {
    color: $black;
}

body {
    position: relative;
    margin: 0em;
    padding-bottom: 74px; //the exact size of the footer!
    background-color: $complementary-neutral;
}

section {
    background-color: $white;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    padding-bottom: 20px;

    & header {
        background-color: $complementary-neutral-light;
        font-size: 2em;
        padding: 7px 0;
        padding-left: initial;
        padding-right: initial;
    }

    & header, p {
        padding: 0 15px;
        padding-top: initial;
        padding-bottom: initial;
    }
}

input {
    font-size: 0.85em;
    padding: 0.25em;
    margin-left: 5px;
}

form {
    max-width: 50vw;
}

button {
    &:hover {
        cursor: pointer;
    }
}

nav {
    ul {
        margin: 0em;
        padding: 0em;
        padding-right: 5px;
        list-style: none;   
        li {
            display: inline-block;
            //margin-left: -4px;
            background-color: $primary-light;
            border-radius: 8px;
            line-height: 2em;

            //emily recommends removing background & just having links

            a {
                color: $white;
                display: block;
                padding: 0 20;
                text-decoration: none;
            }
        }
    }
}