@import 'layouts';
@import 'components';

html {
    //font-size: 16px; Don't set a default font size, this way users can specify what size they want instead :)
    //poor ux as a result of this is on the user. The App should handle "normal" font sizes gracefully, but absurd 
    //sizes (72px?) don't need to be handled
}

div {
    color: black;
}

body {
    position: relative;
    margin: 0em;
    padding-bottom: 74px; //the exact size of the footer!
    background-color: #f9f9f9;
}

input {
    font-size: 0.85em;
    padding: 0.25em;
    margin-left: 5px;
}

button {
    &:hover {
        cursor: pointer;
    }
}