<html>
    <head>
        <title>Portal0</title>
      <!--  <meta name="viewport" content="width=device-width, initial-scale=1"> Enable me for magic mobile scaling -->
        <link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        {{> header}}
        {{{body}}}
        {{> footer}}
    </body>
</html>