<!DOCTYPE html>
<html>

<head>
    <title>Portal0</title>
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1"> Enable me for magic mobile scaling -->
    <link type="text/css" rel="stylesheet" href="/dist/bundle.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/content/icons/favicon-16x16.png">
    <link rel="manifest" href="/content/icons/manifest.json">
    <link rel="mask-icon" href="/content/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
    {{> footer}}
</body>

</html>
