<section>
	<header>Blades in the Dark Clocks</header>
	<div class="laff-section-copy">
		<v-progress-clock-list></v-progress-clock-list>
	</div>
</section>

<script type="module" src="dist/clock.bundle.js"></script>
