<section>
    <header>Site Colors</header>
    <div>
        Primary
        <div>
            <div class="colour-box primary-light">light</div>
            <div class="colour-box primary">Core</div>
            <div class="colour-box primary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-neutral-light">light</div>
            <div class="colour-box primary-neutral">neutral</div>
            <div class="colour-box primary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-grey">grey</div>
            <div class="colour-box analogous">analog</div>
        </div>
    </div>
    <div>
        Complementary
        <div>
            <div class="colour-box complementary-light">light</div>
            <div class="colour-box complementary">Core</div>
            <div class="colour-box complementary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-neutral-light">light</div>
            <div class="colour-box complementary-neutral">neutral</div>
            <div class="colour-box complementary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-grey">grey</div>
            <div class="colour-box complementary-analogous">analog</div>
        </div>
    </div>
    <div>
        Other
        <div>
            <div class="colour-box neutral-grey">neutral grey</div>
            <div class="colour-box white">white</div>
            <div class="colour-box black">black</div>
        </div>
    </div>

</section>
<section>
    <header>Copy</header>
    <h1>I'm a header</h1>
    <h2>I'm a header 2</h2>
    <h3>I'm a header 3</h3>
    <h4>I'm a header 4</h4>
    <h5>I'm a header 5</h5>
    <h6>I'm a header 6</h6>
    <p>I'm a paragraph</p>
    <footer>I'm a section footer</footer>
</section>
<section>
    <header>Misc.</header>

    <hr />

    <button class="laff-btn laff-btn-primary">Click me</button>

    <details>
        <summary>Click me for some more info</summary>
        <p>HEY HERE IS SOME MORE INFO</p>
    </details>    
</section>