<section>
    <header>Components</header>

    <div>
        Primary
        <div>
            <div class="colour-box primary-light">light</div>
            <div class="colour-box primary">Core</div>
            <div class="colour-box primary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-neutral-light">light</div>
            <div class="colour-box primary-neutral">neutral</div>
            <div class="colour-box primary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-grey">grey</div>
            <div class="colour-box analogous">analog</div>
        </div>
    </div>
    <div>
        Complementary
        <div>
            <div class="colour-box complementary-light">light</div>
            <div class="colour-box complementary">Core</div>
            <div class="colour-box complementary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-neutral-light">light</div>
            <div class="colour-box complementary-neutral">neutral</div>
            <div class="colour-box complementary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-grey">grey</div>
            <div class="colour-box complementary-analogous">analog</div>
        </div>
    </div>
    <div>
        Other
        <div>
            <div class="colour-box neutral-grey">neutral grey</div>
            <div class="colour-box white">white</div>
            <div class="colour-box black">black</div>
        </div>
    </div>

    <button class="laff-btn laff-btn-primary">Click me</button>
</section>