<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="site-header">
            <h1 class="logo">Portal0</h1>
            <ul class="navbar pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </header>
        <div class="site-body">
<!--            <div class="sidebar">
                <ul>
                    <li>Home</li>
                    <li>Projects</li>
                    <li>Blog</li>
                    <li>LinkedIn</li>
                    <li>Everything Else</li>
                </ul>
            </div>-->
            
            <div class="content">
                <h1 class="title">Home</h1>
                <p>
                    Alright, so this is my webserver. This is currently my "Hello World!" :)
                </p>
                <p>
                    Seriously. I'm bad with design. Forgive this webpage, I'm working on it!
                </p>
                <p>Yes, I know simple greyscale is awful.</p>
                <p>To fill up content, I decided to start my website by linking to my favorite programming videos</p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
            </div>
        </div>
        
        <footer class="site-footer">
            This is owned and maintained by Nathan Lafferty. All rights reserved. Maybe I should learn my rights and how to maintain them from disney evil lawyers?
        </footer>
    </body>
</html>