<section>
    <header>Home</header>
    <p>
        Hi There! This website belongs to Nathan Lafferty. Whether your here looking for any dungeons &amp; dragons info or looking at my professional portfolio, welcome.
    </p>
    <p>To fill up content, I decided to start my website by linking to my favorite programming videos</p>
    <div class="laff-section-content">
        <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
    </div>
</section>