<div class="laff-content">
    <h1 class="laff-title">Home</h1>
    <p>
        Alright, so this is my webserver. This is currently my "Hello World!" :)
    </p>
    <p>
        Seriously. I'm bad with design. Forgive this webpage, I'm working on it!
    </p>
    <p>Yes, I know simple greyscale is awful.</p>
    <p>To fill up content, I decided to start my website by linking to my favorite programming videos</p>
    <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>

    <div>
        Primary
        <div>
            <div class="colour-box primary-light">light</div>
            <div class="colour-box primary">Core</div>
            <div class="colour-box primary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-neutral-light">light</div>
            <div class="colour-box primary-neutral">neutral</div>
            <div class="colour-box primary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box primary-grey">grey</div>
            <div class="colour-box analogous">analog</div>
        </div>
    </div>
    <div>
        Complementary
        <div>
            <div class="colour-box complementary-light">light</div>
            <div class="colour-box complementary">Core</div>
            <div class="colour-box complementary-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-neutral-light">light</div>
            <div class="colour-box complementary-neutral">neutral</div>
            <div class="colour-box complementary-neutral-dark">dark</div>
        </div>
        <div>
            <div class="colour-box complementary-grey">grey</div>
            <div class="colour-box complementary-analogous">analog</div>
        </div>
    </div>
    <div>
        Other
        <div>
            <div class="colour-box neutral-grey">neutral grey</div>
            <div class="colour-box white">white</div>
            <div class="colour-box black">black</div>
        </div>
    </div>
</div>