<section>
    <header>Home</header>
    <div class="laff-section-copy">
        <p>
            Hello! Welcome to my website. I host a few things here, and generally use it as a staging ground for any tools/utilities I make.
        </p>
        <p>
            My goals in making this website were pretty straightforward:
        </p>
        <ul>
            <li>I wanted to improve my raw CSS skills by not using a theme or major css toolkit</li>
            <li>I needed a place to host my project files</li>
            <li>
                I wanted to use the "latest-and-greatest" javascript without compromises related to business dev:
                <ul>
                    <li>Javascript Modules</li>
                    <li>WebComponents (w/out polymer)</li>
                    <li>CSSGrid / Flexbox</li>
                </ul>
            </li>
            <li>I wanted to build my own build pipeline (so I could learn how build automation tools work such as webpack / gulp)</li>
            <li>I wanted to build my own deployment pipeline (so I could learn about how deployments work)</li>
        </ul>
        <p>
            Overall I'm pretty happy with how the site looks and feels. I've automated quite a bit of functionality. Its not the best looking site around, but its not designed to be.
        </p>
        <h2>Videos</h2>
        <p>
            It felt weird having an empty homepage, so here's my favourite video.
        </p>
        <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
    </div>
</section>
