<section>
    <header>Home</header>
    <div class="laff-section-copy">
        <p>
            Hello! Welcome to my website. I host a few things here, and generally use it as a staging ground for any tools/utilities I make.
        </p>
        <h2>Videos</h2>
        <p>
            It felt weird having an empty homepage, so here's my favourite video.
        </p>
        <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
    </div>
</section>
