<html>
    <head>
        <title>Portal0</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="laff-site-header">
            <h1 class="laff-logo">Portal0</h1>
            <ul class="laff-navbar pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/worldbuilder">DnD WorldBuilder</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="https://github.com/Ha1fDead">Github</a></li>
            </ul>
        </header>
        <section class="laff-site-body">
            <div class="laff-content">
                <h1 class="laff-title">Home</h1>
                <p>
                    Alright, so this is my webserver. This is currently my "Hello World!" :)
                </p>
                <p>
                    Seriously. I'm bad with design. Forgive this webpage, I'm working on it!
                </p>
                <p>Yes, I know simple greyscale is awful.</p>
                <p>To fill up content, I decided to start my website by linking to my favorite programming videos</p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
            </div>
        </section>
        <footer class="laff-site-footer">
            <div class="laff-footer-content">
                This is owned and maintained by Nathan Lafferty. All rights reserved. Maybe I should learn my rights and how to maintain them from disney evil lawyers?
            </div>
        </footer>
    </body>
</html>