<section>
    <header>Home</header>
    <div class="laff-section-copy">
        <p>
            Hi there! This website is owned, maintained, and operated by Nathan Lafferty. This is, for all intents and
            purposes, my portfio, blog, and playground for things that interest me. Building this site, I had a few
            goals:
        </p>
        <h2>
            1. I wanted to build it from scratch
        </h2>
        <p>
            While more labour intensive (and it was very labour intensive) I learned a ton about how CSS and HTML can
            play together. While CSS/HTML frameworks make your life (very) easy and expediate development,
            all of my experience was with the frameworks themselves. Sure, I could hack around any problem before
            building this website, but that didn't help me in the actual building/design phase.
            I used the framework itself as a crutch for my lack of experience. Now I believe I have more fundamental
            knowledge on how to design CSS/HTML in a declarative format which (I hope) will make me a much more
            valuable developer.
        </p>
        <h2>
            2. I wanted it to house/showcase all of my projects
        </h2>
        <p>
            Pretty straightforward, I've always wanted a place to easily showcase the various things I have done in my
            personal and professional life.
            Also, I hate linkedin and this was a way for me to get rid of it. If you're an employer, have your
            engineers look through my source code.
            For better or worse, this site was built with what I view as my best-practices at the time. To view my
            NodeJS server code, take a look at my Github portfolio.
        </p>
        <h2>
            3. I wanted a personal playground with the latest technologies
        </h2>
        <p>
            No matter how much I want to admit, IE11 is here to stay until at least 2022. With enterprise use, some
            companies need to support old versions of Safari and IE &lt; 11.
            This is annoying as a developer, because I only want to use the latest technologies so I don't stagnate.
            Here's where my website comes in.
            I don't need to support these older browsers and, as such, I can develop anything I want however I want.
            The tradeoff of miniscule user percentages, important for businesses, is unimport to me personally.
            So now I can dev using CSS Grid, Flexbox, ES6(2015,2016,2017...) and any other newfangled technology that
            catches my interest.
        </p>
        <h2>
            4. I wanted a place to link my friends to for information
        </h2>
        <p>
            I do a lot of personal stuff, and I have a ton of hobbies. One of my bigger hobbies that I really enjoy is
            Dungeons and Dragons.
            Its nice being able to host content without going through Google / Dropbox / etc.. and just have my players
            be able to view it. Also, writing simple scripts to make my life a little bit easier is always a joy.
        </p>
        <h2>Videos</h2>
        <p>
            I find a ton of programming videos that I think every developer should watch. So here they are.
        </p>
        <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
        <a href="https://www.destroyallsoftware.com/talks/wat">Wat video</a>
    </div>
</section>
