<section>
    <header>Home</header>
    <div class="laff-section-copy">
        <p>
            Hello! Welcome to my website. I host a few things here, and generally use it as a staging ground for any tools/utilities I make.
        </p>
        <h2>Videos</h2>
        <p>
            I don't have a whole lot of content here, so here's some of my favorite videos!
        </p>
        <iframe width="350" height="315" src="https://www.youtube.com/embed/-5wpm-gesOY"></iframe>
        <a href="https://www.destroyallsoftware.com/talks/wat">Wat video</a>
    </div>
</section>
