<section>
	<header>Fantasy Demographics</header>
	<div class="laff-section-copy">
		<p>
			This article discusses medieval demographics from the perspective of custom worldbuilding. As always, the holy grail for this discussion is
			 from <a href="http://www222.pair.com/sjohn/blueroom/demog.htm">S. John Ross</a>. I take heavy inspiration from his writing. This is meant as a supplemental article. A similar tool is by <a href="https://donjon.bin.sh/fantasy/demographics/">DonJon</a>.
		</p>
		<p>
			Medieval demographics are quite different from modern demographics. For the sake of the article, I'm considering Medieval Times to be from 500 - 1500 AD, with an
			 emphasis on 1200-1500 AD (late Medieval period). This is what I consider to be the "Trope" for medieval life.
		</p>
		<p>
			At its core, Medieval societies revolved around Food and Food production. All of human settlement throughout history has been based on food production. 
			This is among many reasons why human settlement has been based along Rivers. A non-trivial amount of the customization of this tool is based on food production.
		</p>
		<p>
			Once the food has been taken care of, we can start to consider the much more interesting part of the Medieval world. Nobility, cities, settlements, and wilderness.
		</p>
		<h2>Population Comparisons</h2>
		<ul>
			<li>
				France population in 1AD was 5.5 million. In 1226 it was 16 million (height of Medieval times) 
				<a href="https://en.wikipedia.org/wiki/Demographics_of_France">source</a>
			</li>
			<li>
				Byzantine Empire in 300AD was 17 million. In 1204 it was 9 million. 
				<a href="https://en.wikipedia.org/wiki/Population_of_the_Byzantine_Empire">source</a>
			</li>
		</ul>
		<h2>
			Food Info
		</h2>
		<ul>
			<li>
				<a href="https://rpg.stackexchange.com/questions/10123">pre-modern-farming-what-percent-of-the-population-is-in-agriculture</a>
			</li>
			<li><a href="https://www.ibiblio.org/london/agriculture/general/1/msg00070.html">Interesting Mail thread about food yields</a></li>
			<li>Villages were where everyone lived. Few people lived on their own farms. This is known as the <a href="https://en.wikipedia.org/wiki/Open-field_system">Open Field System</a></li>
		</ul>
		<h2>
			Other Info
		</h2>
		<ul>
			<li>
				This <a href="https://www.youtube.com/watch?v=3PWWtqfwacQ">city video</a> explains several core ideas behind why cities are where they are in relation to eachother
			</li>
			<li>
				The concept of <a href="https://en.m.wikipedia.org/wiki/Central_place_theory">Central Place Theory</a> is related to the aforementioned video
			</li>
			<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5051806/">Population-Area Relationship for Medieval European Cities</a></li>
			<li><a href="http://www.earthlymission.com/maps-of-medieval-cities/">"Paper Maps"</a> of Medieval Cities</li>
			<li><a href="https://mapcollection.wordpress.com/tag/medieval/">Other Paper Maps</a> of Paris and Exeter</li>
			<li>
				More info about <a href="https://worldbuilding.stackexchange.com/questions/77600/77604#77604">distances</a> between
				<a href="https://worldbuilding.stackexchange.com/questions/82992">cities</a>.
			</li>
		</ul>
	</div>
</section>
<section>
	<header>Settlement Information</header>
	<div class="laff-section-copy">
		<h2>
			City &amp; Town Info
		</h2>
		<p>
			Cities and Towns were fairly rare and significantly smaller than what we consider them as today. Towns were glorified trading posts, with a few ammenities. All forms of specializations occured in these settlements.
		</p>
		<ul>
			<li>Towns are generally 10 miles ± 1 from each other. This was so that a villager on the far side of a town could travel to-and-from the Town within a single day</li>
			<li>
				Cities are generally much further apart. According to the <a href="https://en.m.wikipedia.org/wiki/Central_place_theory">Central Place Theory</a>, you would see cities no closer than 20-30 miles away from each other. The upper bound is much more difficult to determine, but between 30-70 miles apart is a safe bet.
			</li>
			<li>
				Cities placement is predominantly due to resource placement. Fertile land, rivers, mountains (ore &amp; mining), and ocean access (among other things). 
			</li>
			<li>
				Other factors in city placement included socio-economic factors. For instance, towns in California were situated 12 miles apart - the distance a Rail Crew could maintain. Cities were 60 miles apart - the distance a steam car could travel before running out of fuel.
			</li>
			<li>Historically, walls were built to protect against invasion. Walls are a good indication of how large cities used to be</li>
			<li><a href="https://en.wikipedia.org/wiki/City_walls_of_Paris">Paris</a> has had several walls throughout history. During 1250, the walls created an area roughly 1 Mile² with a population of <a href="https://en.wikipedia.org/wiki/Demographics_of_Paris#Historical_population">80,000</a>.</li>
			<li>Bologna, Italy had an area within its walls of 1.60 miles around year 1300. You can measure this on <a href="https://www.google.com/maps/place/Bologna,+Metropolitan+City+of+Bologna,+Italy/@44.4937787,11.340864,15z">Google Maps</a></li>
			<li>
				Cologne, with an urban population of 20,000 - 40,000
				had an area of <a href="https://forum.rpg.net/showthread.php?163295-Medieval-Cities-How-Big/page2&s=54889014167a5092710ac82f656ceeb5">4 kilometers²</a>
			</li>
			<li>
				<img class="img-responsive" src="https://static.wixstatic.com/media/1d92f6_24cb97586af055887c88187b651cde4e.jpg" alt="London Size Through Ages"></img>
			</li>
			<li>
				The population of the biggest city in the world has <a href="https://en.wikipedia.org/wiki/List_of_largest_cities_throughout_history"></a>fluctuated greatly</a> through history.
			</li>
		</ul>
		<h2>
			Village Info
		</h2>
		<p>
			Villages radiated outward from Towns and Cities. Generally, the population ranged from 50 to 1000 people in a village (more than that would be a town).
		</p>
		<ul>
			<li>Villages ranged from 50 to 1000 people on average</li>
			<li>The closer to a town, the denser and more populated a Village would be</li>
			<li>Villages ranged from 0.5 to 3 miles away from each other -- they were quite common</li>
			<li>Villages did not often have that many ammenities. Maybe a mill for grain, but not much beyond that</li>
			<li>Most of the people in a Village were landless peasants</li>
			<li>Most of the land in the nearby village was owned by a single person (Their Demesne).</li>
			<ul>
				Of the land owners:
				<li>22% owned between 22 - 32 acres of land</li>
				<li>31% of the people owned between 12 and 16 acres of land</li>
				<li>45% of the people owned less than 3 acres of land</li>
			</ul>
		</ul>
	</div>
</section>
<section>
	<header>Fantasy Breakdown</header>
	<div class="laff-section-copy">
		<p>
			Unfortunately for us, common Fantasy Tropes cause all of our analysis to go out the window. Right off the bat, you have several things that render common medieval life obsolete:
		</p>
		<ul>
			<li>The Fireball spell would burn all towns it touches to the ground</li>
			<li>Several spells render Castles and Walls obsolete</li>
			<li>Magic in and of itself would lend the society to become much more "Industrial" quicker</li>
			<li>Availability of flight and invisibility would render most common defenses ineffective</li>
			<li><a href="http://www.enworld.org/forum/showthread.php?255833-Area-of-a-medieval-town">A good discussion</a> on this topic.</li>
		</ul>
		<p>
			With all of that said, we don't need to worry about it and we can just hand-wave it away. Its not important to dwell on these, since we're telling a fantastical story. There are several other tropes that make this irrelevant -- chief among them is "Fantasy" worlds are typically stuck in Medieval times forever anyway, without any technological advancement.
		</p>
	</div>
</section>
