<section>
	<header>Fantasy Demographics</header>
	<div class="laff-section-copy">
		<p>
			This article discusses medieval demographics from the perspective of custom worldbuilding. As always, the holy grail for this discussion is
			 from <a href="http://www222.pair.com/sjohn/blueroom/demog.htm">S. John Ross</a>. I take heavy inspiration from his writing. This is meant as a supplemental article.
		</p>
		<p>
			Medieval demographics are quite different from modern demographics. For the sake of the article, I'm considering Medieval Times to be from 500 - 1500 AD, with an
			 emphasis on 1200-1500 AD (late Medieval period). This is what I consider to be the "Trope" for medieval life.
		</p>
		<h2>Population Comparisons</h2>
		<ul>
			<li>
				France population in 1AD was 5.5 million. In 1226 it was 16 million (height of Medieval times) 
				<a href="https://en.wikipedia.org/wiki/Demographics_of_France">source</a>
			</li>
			<li>
				Paris population in 50AD was 80,000. In 1250 it was 160,000 
				<a href="https://en.wikipedia.org/wiki/Demographics_of_Paris">source</a>
			</li>
			<li>
				Byzantine Empire in 300AD was 17 million. In 1204 it was 9 million. 
				<a href="https://en.wikipedia.org/wiki/Population_of_the_Byzantine_Empire">source</a>
			</li>
			<li>
				The population of the biggest city in the world has fluctuated greatly through history.
				<a href="https://en.wikipedia.org/wiki/List_of_largest_cities_throughout_history">source</a>
			</li>
		</ul>
		<h2>
			Size and Density Comparisons
		</h2>
		<ul>
			<li>
				The area of countries is drastically different.
				<a href="https://en.wikipedia.org/wiki/List_of_European_countries_by_area">source</a>
			</li>
			<li>
				Urban densities were incredibly small. Cologne, with an urban population of 20,000 - 40,000
				had an area of <a href="https://forum.rpg.net/showthread.php?163295-Medieval-Cities-How-Big/page2&s=54889014167a5092710ac82f656ceeb5">4 kilometers²</a>
			</li>
		</ul>
		<h2>
			Distance and Size Comparisons
		</h2>
		<ul>
			<li>
				Towns are generally ~10-15 miles away from eachother. This is so that a Villager could travel from their village to the town and back within a single day, for trading.
			</li>
			<li>
				This <a href="https://www.youtube.com/watch?v=3PWWtqfwacQ">city video</a> explains several core ideas behind why cities are where they are in relation to eachother
			</li>
			<li>
				The concept of <a href="https://en.m.wikipedia.org/wiki/Central_place_theory">Central Place Theory</a> is related to the aforementioned video
			</li>
			<li>
				More info about <a href="https://worldbuilding.stackexchange.com/questions/77600/77604#77604">distances</a> between
				<a href="https://worldbuilding.stackexchange.com/questions/82992">cities</a>.
			</li>
		</ul>
	</div>
</section>
