<section>
	<header>Fantasy Demographics</header>
	<div class="laff-section-copy">
		<p>
			This article discusses medieval demographics from the perspective of custom worldbuilding. As always, the holy grail for this discussion is
			 from <a href="http://www222.pair.com/sjohn/blueroom/demog.htm">S. John Ross</a>. I take heavy inspiration from his writing. This is meant as a supplemental article.
		</p>
		<p>
			Medieval demographics are quite different from modern demographics. For the sake of the article, I'm considering Medieval Times to be from 500 - 1500 AD, with an
			 emphasis on 1200-1500 AD (late Medieval period). This is what I consider to be the "Trope" for medieval life.
		</p>
		<p>
			At its core, Medieval societies revolved around Food and Food production. All of human settlement throughout history has been based on food production. 
			This is among many reasons why human settlement has been based along Rivers. A non-trivial amount of the customization of this tool is based on food production.
		</p>
		<p>
			Once the food has been taken care of, we can start to consider the much more interesting part of the Medieval world. Nobility, cities, settlements, and wilderness.
		</p>
		<h2>Population Comparisons</h2>
		<ul>
			<li>
				France population in 1AD was 5.5 million. In 1226 it was 16 million (height of Medieval times) 
				<a href="https://en.wikipedia.org/wiki/Demographics_of_France">source</a>
			</li>
			<li>
				Paris population in 50AD was 80,000. In 1250 it was 160,000 
				<a href="https://en.wikipedia.org/wiki/Demographics_of_Paris">source</a>
			</li>
			<li>
				Byzantine Empire in 300AD was 17 million. In 1204 it was 9 million. 
				<a href="https://en.wikipedia.org/wiki/Population_of_the_Byzantine_Empire">source</a>
			</li>
			<li>
				The population of the biggest city in the world has fluctuated greatly through history.
				<a href="https://en.wikipedia.org/wiki/List_of_largest_cities_throughout_history">source</a>
			</li>
		</ul>
		<h2>
			Size and Density Comparisons
		</h2>
		<ul>
			<li>
				The area of countries is drastically different.
				<a href="https://en.wikipedia.org/wiki/List_of_European_countries_by_area">source</a>
			</li>
			<li>
				Urban areas were incredibly small, but densities were very high. Cologne, with an urban population of 20,000 - 40,000
				had an area of <a href="https://forum.rpg.net/showthread.php?163295-Medieval-Cities-How-Big/page2&s=54889014167a5092710ac82f656ceeb5">4 kilometers²</a>
			</li>
			<li>
				<img src="https://static.wixstatic.com/media/1d92f6_24cb97586af055887c88187b651cde4e.jpg" alt="London Size Through Ages"></img>
			</li>
		</ul>
		<h2>
			Distance and Size Comparisons
		</h2>
		<ul>
			<li>
				Towns are generally ~10-15 miles away from eachother. This is so that a Villager could travel from their village to the town and back within a single day, for trading.
			</li>
			<li>
				This <a href="https://www.youtube.com/watch?v=3PWWtqfwacQ">city video</a> explains several core ideas behind why cities are where they are in relation to eachother
			</li>
			<li>
				The concept of <a href="https://en.m.wikipedia.org/wiki/Central_place_theory">Central Place Theory</a> is related to the aforementioned video
			</li>
			<li>
				More info about <a href="https://worldbuilding.stackexchange.com/questions/77600/77604#77604">distances</a> between
				<a href="https://worldbuilding.stackexchange.com/questions/82992">cities</a>.
			</li>
		</ul>
		<h2>
			Food Info
		</h2>
		<ul>
			<li>
				<a href="https://rpg.stackexchange.com/questions/10123">pre-modern-farming-what-percent-of-the-population-is-in-agriculture</a>
			</li>
			<li><a href="https://www.ibiblio.org/london/agriculture/general/1/msg00070.html">Interesting Mail thread about food yields</a></li>
		</ul>
		<h2>
			Other Info
		</h2>
		<ul>
			<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5051806/">Population-Area Relationship for Medieval European Cities</a></li>
			<li><a href="http://www.earthlymission.com/maps-of-medieval-cities/">"Paper Maps"</a> of Medieval Cities</li>
			<li><a href="https://mapcollection.wordpress.com/tag/medieval/">Other Paper Maps</a> of Paris and Exeter</li>
		</ul>
	</div>
</section>
<section>
	<header>Fantasy Breakdown</header>
	<div class="laff-section-copy">
		<p>
			Unfortunately for us, common Fantasy Tropes cause all of our analysis to go out the window. Right off the bat, you have several things that render common medieval life obsolete:
		</p>
		<ul>
			<li>The Fireball spell would burn all towns it touches to the ground</li>
			<li>Several spells render Castles and Walls obsolete</li>
			<li>Magic in and of itself would lend the society to become much more "Industrial" quicker</li>
			<li>Availability of flight and invisibility would render most common defenses ineffective</li>
			<li><a href="http://www.enworld.org/forum/showthread.php?255833-Area-of-a-medieval-town">A good discussion</a> on this topic.</li>
		</ul>
		<p>
			With all of that said, we don't need to worry about it and we can just hand-wave it away. Its not important to dwell on these, since we're telling a fantastical story. There are several other tropes that make this irrelevant -- chief among them is "Fantasy" worlds are typically stuck in Medieval times forever anyway, without any technological advancement.
		</p>
	</div>
</section>
