<html>
    <head>
        <title>Portal0</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="laff-site-header">
            <h1 class="laff-logo">Portal0</h1>
            <ul class="laff-navbar pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/worldbuilder">DnD WorldBuilder</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="https://github.com/Ha1fDead">Github</a></li>
            </ul>
        </header>
        <section class="laff-site-body">
            <div class="laff-content">
                <h1 class="laff-title">Resume</h1>
                <p>This is my resume! I got rid my LinkedIn. 
                    Long story short, I am currently seeking employment in the Minneapolis / Saint Paul area. 
                    Think I'm a good fit? Let's make sure!
                    Here's a short list of who I am:</p>
                <ul>
                    <li>Graduated from Iowa State University (2010 - 2015)</li>
                    <li>Degree in Computer Engineering (3.07 GPA) (Networking emphasis)</li>
                    <li>Project manager / lead engineer for Thinix/iStatus Team</li>
                </ul>
                <p>Technologies I like...</p>
                <ul>
                    <li>Embedded Systems (C is my favorite language)</li>
                    <li>The entire .NET stack</li>
                    <li>AngularJs (both versions)</li>
                    <li>Computer networking (entire OSI stack)</li>
                    <li>The <strong>entire</strong> web-stack</li>
                    <li>Anything with good/great documentation</li>
                    <li>Virtual Reality (OpenVr especially)</li>
                </ul>
                <p>Engineering tasks that I'm ACTUALLY good at...</p>
                <ul>
                    <li>Transforming vague business requirements into actual products</li>
                    <li>Architecting apps</li>
                    <li>Designing functional &amp; usable user-interfaces</li>
                    <li>Full-stack Web development (html, js, css, C# / asp.net)</li>
                    <li>CSS design (from an Engineer's perspective) (yes this gets its own bullet) (smacss is best css)</li>
                    <li>Embedded Systems (C, low-level frameworks)</li>
                    <li>Managing a team of developers</li>
                    <li>Plate-spinning project management responsibilities</li>
                    <li>Learning new technologies (seriously.)</li>
                    <li>Documentation (yes, this gets its own bullet too)</li>
                    <li>Designing secure systems (really!) (this blog is not an example of a secure system)</li>
                </ul>
                <p>Engineering tasks that I'm just okay at...</p>
                <ul>
                    <li>Super low-level development (Arduino/FPGA boards/etc.)</li>
                    <li>Raw SQL/Databases (The basics are trivial. Setting up performant queries with millions/billions of entries in a timely manner is hard)</li>
                    <li>Computer Graphics (shaders, OpenGl/WebGl, DirectX)</li>
                    <li>Writing automated software tests (that actually test things that will survive a refactor or two)</li>
                </ul>
                <p>Things I like...</p>
                <ul>
                    <li>Travelling abroad &amp; experiencing different cultures</li>
                    <li>Beer &amp; Winemaking, Breweries</li>
                    <li>Board Games</li>
                    <li>Video games (mostly strategy)</li>
                    <li>Video game development (casual interest) (particularly mechanic design)</li>
                    <li>Dungeons &amp; Dragons Dungeon Mastering</li>
                    <li>Martial Arts</li>
                    <li>Swimming</li>
                    <li>Snowboarding (#gnar)</li>
                </ul>
                <p>In school, I...</p>
                <ul>
                    <li>Spent six months studying abroad</li>
                    <li>Joined a Fraternity (Kappa Sigma)</li>
                    <li>Put myself through school (been consistently employed since I was 16)</li>
                </ul>
                <p>When I'm developing, I...</p>
                <ul>
                    <li>Accessibility matters</li>
                    <li>Designing something <strong>before</strong> implementing it</li>
                    <li>A good user interface doesn't hide its functionality</li>
                    <li>Use my tools to my advantage, whenever possible</li>
                    <li>Make for damned-sure that my bus-factor is low (Great documentation!)</li>
                    <li>Believe in self-documenting code (even if its a lie)</li>
                    <li>Try to automate as much as possible</li>
                    <li>Try to break things up into bite-sized chunks</li>
                    <li>Believe in TDD/BDD</li>
                    <li>Believe in standards (and I hope you do, too)</li>
                    <li>Rubber-duck debugging</li>
                    <li>Results-driven development</li>
                    <li>If I can't explain something to you, its either too complicated (and can be simplified) or I need to learn more about the topic</li>
                    <li>IE &lt; 11 is the worst and should be ditched ASAP</li>
                    <li>Believe that web frameworks are a dime-a-dozen and yours isn't very special.</li>
                </ul>
                <p>I'm looking for an employer who...</p>
                <ul>
                    <li>Cares about their employees</li>
                    <li>Cares about best-practices (business, engineering, customer, design, etc.)</li>
                    <li>Cares about results-driven development instead of ass-in-chair development</li>
                    <li>Cares about healthy work-life balance (40-45 hrs/week)</li>
                    <li>Cares about information security</li>
                    <li>Can offer a competitive offer</li>
                    <li>Believes in sincerity, openness, and honesty</li>
                </ul>
                <p>I'm looking for this in my offers...</p>
                <ul>
                    <li>3+ weeks of vacation time</li>
                    <li>Reasonable remote work opportunities (I prefer working in an office, but remote work has its place)</li>
                    <li>Reasonable 401k match</li>
                    <li>Reasonable health package (Eye/Dental/Health)</li>
                    <li>Reasonable pay / bonus / review structure</li>
                </ul>
            </div>
        </section>
        <footer class="laff-site-footer">
            <div class="laff-footer-content">
                This is owned and maintained by Nathan Lafferty. All rights reserved. Maybe I should learn my rights and how to maintain them from disney evil lawyers?
            </div>
        </footer>
    </body>
</html>