<section>
    <header>Resume Summary</header>
    <div class="laff-section-copy">
        <p>
            Hello! This is my resume. Its really interesting to sum up your life experiences in a small, parsable, word
            doc; but here we are! This section is a summary, but the rest of the document elaborates on everything.
        </p>
        <ul>
            <li>My primary experience is in web development (front &amp; back end)</li>
            <li>I graduated from Iowa State University w/ degree in Computer Engineering in 2015 (3.14 GPA)</li>
            <li><a href="https://iStatus.com">I made this</a></li>
            <li><a href="https://okoboji.com">I helped make this</a></li>
            <li><a href="https://portal0.net">And of course I made this, too! (from scratch, no frameworks)</a></li>
        </ul>
        <legend>
            <ul>
                <li><a href="#resume-skills">Skills</a></li>
                <li><a href="#resume-experience">Previous Work Experience</a></li>
                <li><a href="#resume-about">About me</a></li>
                <li><a href="#resume-employer">For employers</a></li>
            </ul>
        </legend>
    </div>
</section>
<section id="resume-experience">
    <header>Previous Experience</header>
    <div class="laff-section-copy">
        <h2>Professional Experience</h2>
        <ul>
            <li>
                Thinix Computer Engineer (May 2015 - Present)
                <ul>
                    <li>Project Manager for <a href="https://iStatus.com">iStatus</a></li>
                    <li>Front &amp; back end lead developer</li>
                    <li>Managed a team of Software Engineers and interns</li>
                    <li>Key communicator between product stakeholders &amp; engineers</li>
                    <li>Designed and built the distributed network monitoring platform</li>
                    <li>Designed and built secure remote device firmware/software/configuration update platform</li>
                    <li>Designed and built reporting platform for business analytics</li>
                </ul>
            </li>
            <li>
                Thinix Software Development Intern (June 2013 - May 2015)
                <ul>
                    <li>Team member for <a href="https://okoboji.com">Okoboji.com</a> rewrite</li>
                    <li>Role evolved to building MacOS enroll software for managed services division of company</li>
                    <li>Role evolved again into starting iStatus development</li>
                </ul>
            </li>
            <li>ISU ITS Skunk Team Member (January 2013 - September 2014)
                <ul>
                    <li>Designed, built, and tested server monitoring scripts for Iowa State University</li>
                    <li>Developed utilities for Iowa State's primary service cluster (AWS)</li>
                </ul>
            </li>
            <li>
                Solution Center Programmer (September 2012 - March 2013)
                <ul>
                    <li>Designed and built utilities for phone support &amp; time logging</li>
                </ul>
            </li>
            <li>
                ITS Equipment Acquisitions (December 2010 - September 2012)
                <ul>
                    <li>In-person technical support for ISU staff</li>
                    <li>Imaged, retrieved, and installed computers for ISU staff</li>
                </ul>
            </li>
            <li>Red Lobster Host (August 2008 - August 2010)</li>
        </ul>
        <h2>Schoolwork Experience</h2>
        <p>(All of these should have links to review in more detail)</p>
        <ul>
            <li>Attended Iowa State University from Fall 2010 to Sprint 2015</li>
            <li>Graduated with a degree in Computer Engineering (3.14 GPA) w/ emphasis on Computer Networking</li>
            <li>Artificial Intelligence RPS game</li>
            <li>Several graphics projects</li>
            <li>Senior design "Cy-locker access system"</li>
            <li>Embedded systems "Mars Rover"</li>
            <li>Embedded systems "Rocket launcher" FPGA board</li>
            <li>Several game design projects</li>
        </ul>
    </div>
</section>
<section id="resume-skills">
    <header>Skills</header>
    <div class="laff-section-copy">
        <h2>Engineering Skills</h2>
        <p>Proficient</p>
        <ul>
            <li>Full-stack Web development (html, js, css, C# / asp.net)</li>
            <li>Designing functional &amp; usable user-interfaces</li>
            <li>Computer networking (entire OSI stack)</li>
            <li>Debugging computer programs</li>
            <li>Documentation (The Why not the How)</li>
            <li>Designing secure systems</li>
            <li>Agile development</li>
            <li>Test-driven development (Unit Testing)</li>
            <li>Maintainable CSS design</li>
            <li>Learning new technologies</li>
        </ul>
        <p>Familiar</p>
        <ul>
            <li>Embedded Systems (C, low-level frameworks)</li>
            <li>Super low-level development (Arduino/FPGA boards/etc.)</li>
            <li>Raw SQL/Databases (The basics are trivial. Setting up performant queries with millions/billions of
                entries in a timely manner with complex groups/joins is hard)</li>
            <li>Computer Graphics (shaders, OpenGl/WebGl, DirectX)</li>
            <li>Test-driven development (Integration Testing)</li>
        </ul>

        <h2>Project Management Skills</h2>
        <ul>
            <li>Transforming vague business requirements into actionable tasks and features</li>
            <li>Prioritizing &amp; balancing business value with technical debt</li>
            <li>Architecting maintainable and performant software stacks</li>
            <li>Communicating technological roadblocks &amp; hurdles to project stakeholders in a meaningful manner</li>
            <li>Plate spinning roles</li>
            <li>Leading by example</li>
        </ul>

        <h2>Known Technologies</h2>
        <p>
            I don't really like putting this list here, but I know some people care about it. My view of technology is
            that you should quickly be able to learn a new technology and begin applying its best practices.
            While deep experience is a must for core Computer Science / Engineering problems, most technologies don't
            require that level of knowledge to utilize effectively.
        </p>
        <h3>Languages Known</h3>
        <ul>
            <li>Javascript</li>
            <li>C#</li>
            <li>C (my favorite)</li>
            <li>Html5 / CSS</li>
            <li>SQL</li>
            <li>Python</li>
            <li>Bash</li>
            <li>WebGL / OpenGl</li>
            <li>VHDL</li>
            <li>Verilog</li>
        </ul>
        <h3>Frameworks &amp; Libraries</h3>
        <ul>
            <li>Entity Framework</li>
            <li>Autofac Dependency Injector</li>
            <li>AngularJS</li>
            <li>Angular 2.0</li>
            <li>Asp.NET MVC</li>
            <li>Asp.NET WebApi</li>
            <li>Asp.NET Core</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>Umbraco CMS</li>
        </ul>
    </div>
</section>
<section id="resume-about">
    <header>About me</header>
    <div class="laff-section-copy">
        <p>My hobbies include:</p>
        <ul>
            <li>Travelling abroad &amp; experiencing different cultures</li>
            <li>Beer &amp; Winemaking, Breweries</li>
            <li>Board Games</li>
            <li>Video games (mostly strategy)</li>
            <li>Video game development (particularly mechanic design)</li>
            <li>Dungeons &amp; Dragons Dungeon Mastering</li>
            <li>Martial Arts</li>
            <li>Swimming</li>
            <li>Snowboarding (#gnar)</li>
        </ul>
        <p>In school, I...</p>
        <ul>
            <li>Spent six months studying abroad which changed my life</li>
            <li>Joined a Fraternity (Kappa Sigma)</li>
            <li>Put myself through school (I have been consistently employed since I was 16)</li>
        </ul>
        <p>When I'm developing, I believe...</p>
        <ul>
            <li>consistency is king</li>
            <li>that accessibility matters</li>
            <li>in designing something <strong>before</strong> implementing it</li>
            <li>a good user interface doesn't hide its functionality</li>
            <li>in using my tools to my advantage, whenever possible</li>
            <li>in great documentation</li>
            <li>in self-documenting code (even if its a lie)</li>
            <li>in trying to automate as much as possible</li>
            <li>in breaking problems into bite-sized chunks</li>
            <li>in TDD/BDD</li>
            <li>in rubber-duck debugging</li>
            <li>in results-driven development</li>
            <li>if I can't explain something to you either I don't understand it well enough or its too complicated and
                must be simplified</li>
            <li>being able to pick up new technology quickly is more important than understanding specific technologies</li>
        </ul>
    </div>
</section>
<section id="resume-employer">
    <header>For employers</header>
    <div class="laff-section-copy">
        <p>I'm looking for an employer who...</p>
        <ul>
            <li>Cares about their employees</li>
            <li>Cares about best-practices (business, engineering, customer, design, etc.)</li>
            <li>Cares about results-driven development instead of ass-in-chair development</li>
            <li>Cares about healthy work-life balance (40-45 hrs/week) (some crunch time is acceptable)</li>
            <li>Cares about information security</li>
            <li>Can offer a competitive offer</li>
            <li>Believes in sincerity, openness, and honesty</li>
        </ul>
        <p>I'm looking for this in my offers...</p>
        <ul>
            <li>3+ weeks of vacation time</li>
            <li>Reasonable remote work opportunities (I prefer working in an office, but remote work has its place)</li>
            <li>Reasonable 401k match</li>
            <li>Reasonable health package (Eye/Dental/Health)</li>
            <li>Competitive pay / bonus / review structure</li>
        </ul>
    </div>
</section>
