<section>
	<header>Time and Distance Calculator</header>
	<div class="laff-section-copy">
		<form id="travelform">
			<fieldset>
				<legend>Unit of Measurement</legend>
				<ul>
					<li>
						<input name="distancemeasurement" id="milesunit" type="radio" value="Miles" />
						<label for="milesunit">
							Miles
						</label>
					</li>
					<li>
						<input name="distancemeasurement" id="kilometersunit" type="radio" value="Kilometers" checked />
						<label for="kilometersunit">
							Kilometers
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Time or Distance</legend>
				<ul>
					<li>
						<label for="distanceinput">
							How far is your destination?
						</label>
						<input name="distanceinput" id="distanceinput" type="number" placeholder="Enter a Distance" step="0.1" min="0"
						 value="80" />
					</li>
					<li>
						<label for="timeinput">
							How long does it take to get there?
						</label>
						<input name="timeinput" id="timeinput" type="number" placeholder="Enter a Time" step="0.1" min="0" value="4" />
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How are you travelling?</legend>
				<ul>
					<li>
						<input name="travelmethod" id="speedwalking" type="radio" value="0" checked />
						<label for="speedwalking">
							Walking
						</label>
					</li>
					<li>
						<input name="travelmethod" id="speedhorse" type="radio" value="1" />
						<label for="speedhorse">
							Horseback
						</label>
					</li>
					<li>
						<input name="travelmethod" id="speedhorsefresh" type="radio" value="2" />
						<label for="speedhorsefresh">
							Horseback (Fresh Horses)
						</label>
					</li>
					<li>
						<input name="travelmethod" id="speedboat" type="radio" value="3" />
						<label for="speedboat">
							Boat
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How quickly are you travelling</legend>
				<ul>
					<li>
						<input name="travelspeed" id="speedslow" type="radio" value="0" />
						<label for="speedslow">
							Slow
						</label>
					</li>
					<li>
						<input name="travelspeed" id="speednormal" type="radio" value="1" checked />
						<label for="speednormal">
							Normal
						</label>
					</li>
					<li>
						<input name="travelspeed" id="speedfast" type="radio" value="2" />
						<label for="speedfast">
							Fast
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How difficult is the terrain?</legend>
				<ul>
					<li>
						<input name="traveldifficulty" id="difficultyeasy" type="radio" value="0" checked />
						<label for="difficultyeasy">
							Paved Road
						</label>
					</li>
					<li>
						<input name="traveldifficulty" id="difficultynormal" type="radio" value="1" />
						<label for="difficultynormal">
							Travelled Path
						</label>
					</li>
					<li>
						<input name="traveldifficulty" id="difficultyhard" type="radio" value="2" />
						<label for="difficultyhard">
							Wilderness
						</label>
					</li>
					<li>
						<input name="traveldifficulty" id="difficultyveryhard" type="radio" value="3" />
						<label for="difficultyveryhard">
							Mountainous
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How heavy are you travelling?</legend>
				<ul>
					<li>
						<input name="travelcapacity" id="weightlight" type="radio" value="0" />
						<label for="weightlight">
							Small Pack
						</label>
					</li>
					<li>
						<input name="travelcapacity" id="weightnormal" type="radio" value="1" checked />
						<label for="weightnormal">
							Adventure
						</label>
					</li>
					<li>
						<input name="travelcapacity" id="weighthigh" type="radio" value="2" />
						<label for="weighthigh">
							Small Caravan
						</label>
					</li>
					<li>
						<input name="travelcapacity" id="weightveryhigh" type="radio" value="3" />
						<label for="weightveryhigh">
							Large Caravan
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Weather</legend>
				<ul>
					<li>
						<input name="travelweather" id="weatherclear" type="radio" value="0" checked />
						<label for="weatherclear">
							Blue Skies
						</label>
					</li>
					<li>
						<input name="travelweather" id="weatherrain" type="radio" value="1" />
						<label for="weatherrain">
							Rain
						</label>
					</li>
					<li>
						<input name="travelweather" id="weathersnow" type="radio" value="2" />
						<label for="weathersnow">
							Snow
						</label>
					</li>
					<li>
						<input name="travelweather" id="weatherextreme" type="radio" value="3" />
						<label for="weatherextreme">
							Extreme
						</label>
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</section>

<script type="module" src="/dist/timedistance.bundle.js"></script>
