<section>
	<header>Time and Distance Calculator</header>
	<div class="laff-section-copy">
		<form id="travelform">
			<fieldset>
				<legend>Unit of Measurement</legend>
				<ul>
					<li>
						<input name="distancemeasurement" id="milesunit" type="radio" value="Miles" />
						<label for="milesunit">
							Miles
						</label>
					</li>
					<li>
						<input name="distancemeasurement" id="kilometersunit" type="radio" value="Kilometers" checked="checked" />
						<label for="kilometersunit">
							Kilometers
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Time or Distance</legend>
				<ul>
					<li>
						<label for="distanceinput">
							How far is your destination?
						</label>
						<input name="distanceinput" id="distanceinput" type="number" placeholder="Enter a Distance" step="0.1" min="0"
						 value="80" />
					</li>
					<li>
						<label for="timeinput">
							How long does it take to get there?
						</label>
						<input name="timeinput" id="timeinput" type="number" placeholder="Enter a Time" step="0.1" min="0" value="4" />
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How are you travelling?</legend>
				<ul>
					<li>
						<label for="speedwalking">
							<input name="travelmethod" id="speedwalking" type="radio" value="0" checked="checked" />
							Walking
						</label>
					</li>
					<li>
						<label for="speedhorse">
							<input name="travelmethod" id="speedhorse" type="radio" value="1" />
							Horseback
						</label>
					</li>
					<li>
						<label for="speedhorsefresh">
							<input name="travelmethod" id="speedhorsefresh" type="radio" value="2" />
							Horseback (Fresh Horses)
						</label>
					</li>
					<li>
						<label for="speedboat">
							<input name="travelmethod" id="speedboat" type="radio" value="3" />
							Boat
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How quickly are you travelling</legend>
				<ul>
					<li>
						<label for="speedslow">
							<input name="travelspeed" id="speedslow" type="radio" value="0" />
							Slow
						</label>
					</li>
					<li>
						<label for="speednormal">
							<input name="travelspeed" id="speednormal" type="radio" value="1" checked />
							Normal
						</label>
					</li>
					<li>
						<label for="speedfast">
							<input name="travelspeed" id="speedfast" type="radio" value="2" />
							Fast
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How difficult is the terrain?</legend>
				<ul>
					<li>
						<label for="difficultyeasy">
							<input name="traveldifficulty" id="difficultyeasy" type="radio" value="0" checked="checked" />
							Paved Road
						</label>
					</li>
					<li>
						<label for="difficultynormal">
							<input name="traveldifficulty" id="difficultynormal" type="radio" value="1" />
							Travelled Path
						</label>
					</li>
					<li>
						<label for="difficultyhard">
							<input name="traveldifficulty" id="difficultyhard" type="radio" value="2" />
							Wilderness
						</label>
					</li>
					<li>
						<label for="difficultyveryhard">
							<input name="traveldifficulty" id="difficultyveryhard" type="radio" value="3" />
							Mountainous
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>How heavy are you travelling?</legend>
				<ul>
					<li>
						<label for="weightlight">
							<input name="travelcapacity" id="weightlight" type="radio" value="0" />
							Small Pack
						</label>
					</li>
					<li>
						<label for="weightnormal">
							<input name="travelcapacity" id="weightnormal" type="radio" value="1" checked="checked" />
							Adventure
						</label>
					</li>
					<li>
						<label for="weighthigh">
							<input name="travelcapacity" id="weighthigh" type="radio" value="2" />
							Small Caravan
						</label>
					</li>
					<li>
						<label for="weightveryhigh">
							<input name="travelcapacity" id="weightveryhigh" type="radio" value="3" />
							Large Caravan
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Weather</legend>
				<ul>
					<li>
						<label for="weatherclear">
							<input name="travelweather" id="weatherclear" type="radio" value="0" checked="checked" />
							Blue Skies
						</label>
					</li>
					<li>
						<label for="weatherrain">
							<input name="travelweather" id="weatherrain" type="radio" value="1" />
							Rain
						</label>
					</li>
					<li>
						<label for="weathersnow">
							<input name="travelweather" id="weathersnow" type="radio" value="2" />
							Snow
						</label>
					</li>
					<li>
						<label for="weatherextreme">
							<input name="travelweather" id="weatherextreme" type="radio" value="3" />
							Extreme
						</label>
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</section>
<section>
	<header>Resources</header>
	<div class="laff-section-copy">
		<ul>
			<li><a href="http://orbis.stanford.edu">Orbis</a> an awesome Medieval travelling utility</li>
			<li><a href="https://worldbuilding.stackexchange.com/questions/6411">How far a Horse can Travel</a></li>
			<li><a href="https://worldbuilding.stackexchange.com/questions/67455">Common Travel Times</a></li>
			<li><a href="https://www.quora.com/How-fast-did-ancient-ships-travel">How far can anctient ships travel</a></li>
			<li><a href="http://penelope.uchicago.edu/Thayer/E/Journals/TAPA/82/Speed_under_Sail_of_Ancient_Ships*.html">Scholarly
					Article</a> about ship travel times</li>
		</ul>
	</div>
</section>

<script type="module" src="/dist/timedistance.bundle.js"></script>
