<section>
    <header>Home Winemaking General Info</header>
    <div class="laff-section-copy">
		<p>Wine Yeasts (From Vines to Wines p134-135)</p>
		<ul>
			<li>Montrachet (UC-Davis 522). Concerns about hydrogen sulfide production. Most common.</li>
			<li>Pasteur Champagne (UC-Davis 595). What Jeff Cox generally recommends.</li>
			<li>California Champagne (UC-Davis 505)</li>
			<li>Epernay 2</li>
			<li>Flor Sherry (UC-Davis 519)</li>
		</ul>
		<p>Measurements</p>
		<ul>
			<li>Brix (starting, pre-fermentation)</li>
			<li>TA (Titratable Acidity)</li>
			<li>pH</li>
			<li>Residual Sugar (post-fermentation)</li>
			<li>Total SO_2 (added during the process)</li>
			<li>Percent Alcohol (post-fermentation)</li>
		</ul>
		<p>
			Aging: all ages are after the final racking (1-6 months depending on process used). The first racking is immediately following primary fermentation. Second immediately following secondary fermentation (2-3 months later). Third after the leese settles (another 3 months).
			(From Vines to Wines p159-160, p172)
		</p>
		<ul>
			<li>Big Reds: 12 months minimum. </li>
			<li>Light Reds: 6-12 months. Most drinkable from 12-24 months of age.</li>
			<li>Full-favlored whites (Chardonnay): 6-12 months.</li>
			<li>Light, fruity whites: 3-6 months of aging</li>
		</ul>
		<p>
			Aging environment: try to shoot for 10-16&deg; celsius, but 10-18&deg; celsius is good. Should be dark, sunlight will compromise the alcohol. Avoid temperature swings. After bottling you want a flat 14&deg; celsius temperature ideally.
		</p>
		<p>Optimum serving temperatures (From Vines to Wines p180)</p>
		<ul>
			<li>Big Reds: 16-18&deg; celsius</li>
			<li>Light red wines: 13-16&deg; celsius</li>
			<li>Robust white wines: 13-16&deg; celsius</li>
			<li>Light white wines: 10-13&deg; celsius</li>
			<li>Champagne: 4-7&deg; celsius</li>
		</ul>
		<p>
			Final alcohol content golden standard is 12-12.5%. 11% is acceptable, but should be higher. Always try to get at least 11%. Wine yeasts generally work up to 15% alcohol as an upper-limit (Vines to Wines, p119)
		</p>
    </div>
</section>
<section>
	<header>Sulfite (SO_2)</header>
    <div class="laff-section-copy">
		<p>Sulfite is used to free wine must of wild yeasts that could infect wine. It can cause headaches, flushed feelings, or other reactions. You want to minimize the amount of Sulfite you add to wine. The FDA allows up to 350 ppm of sulfite in wine. California poses an upper limit of 175 ppm in reds and 225 ppm in whites (Vines to Wines, p119)</p>
		<p>Cox recommends 50ppm for reds and 70ppm for whites of potassium metabisulfite to prevent wild yeasts and limit undesirable characteristics. This is for musts with a pH of 3.2 for whites and 3.5 for reds. (Lower pH is higher acidity, pH of 7 is neutral)</p>
		<p>1 Campden tablet will raise one gallon to 50ppm of sulfite.</p>
		<p>Measure your pH and adjust your sulfite accordingly. Higher pH means more sulfite is needed (and vice-versa). Vines to Wines p122 has a handy chart.</p>
	</div>
</section>
<section>
	<header>Brix &amp; Specific Gravity (Vines to Wines p99, p124-125)</header>
    <div class="laff-section-copy">
		<p><a href="https://en.wikipedia.org/wiki/Brix">Brix</a> is an imprecise measurement because a Wine Must has other solids disolved into it besides sugar. Brix itself is defined as "One degree brix is one gram sucrose in 100 grams solution".</p>
		<p>Home Winemakers traditionally use "Specific Gravity" to measure the potential sugar / ripeness / potential alcohol of the must. This isn't the most scientific measurement, but seems to be relatively accurate.</p>
		<p>Refractometers are great before alcohol is created but are inaccurate once alcohol is in the mixture</p>
		<p>Hydrometers assume a temperature of 15-16&deg; celsius. Temperature deviations should be accounted for in S.G./Brix measurement.</p>
		<p>Hydrometeres are measured at the base of the liquid, not the sides. Liquids creep up the sides -- you don't want that.</p>
		<p>Ideally your S.G. measurement is accurate to 4 significant figures, but this can be hard to achieve.</p>
		<table>
			<captain>Hydrometer readings / brix equivalents (Vines to Wines p99)</captain>
			<thead>
				<tr>
					<td>Specific Gravity (calib. 15&deg; C)</td>
					<td>Brix</td>
					<td>Sugar grams/liter</td>
					<td>Est. final % Alcohol</td>
				</tr>
			</thead>
			<tbody>
				<tr><td>1.040</td><td>10.4</td><td></td><td>5.4</td></tr>
				<tr><td>1.045</td><td>11.6</td><td></td><td>6.1</td></tr>
				<tr><td>1.050</td><td>12.8</td><td></td><td>6.8</td></tr>
				<tr><td>1.055</td><td>14.0</td><td>145</td><td>7.6</td></tr>
				<tr><td>1.060</td><td>15.2</td><td></td><td>8.3</td></tr>
				<tr><td>1.065</td><td>16.4</td><td>173</td><td>9.0</td></tr>
				<tr><td>1.070</td><td>17.6</td><td></td><td>9.7</td></tr>
				<tr><td>1.075</td><td>18.7</td><td></td><td>10.4</td></tr>
				<tr><td>1.080</td><td>19.8</td><td></td><td>11.1</td></tr>
				<tr><td>1.085</td><td>20.9</td><td></td><td>11.9</td></tr>
				<tr><td>1.088</td><td></td><td></td>230<td>12.5</td></tr>
				<tr><td>1.090</td><td>22.0</td><td></td><td>12.7</td></tr>
				<tr><td>1.095</td><td>23.1</td><td></td><td>13.4</td></tr>
				<tr><td>1.100</td><td>24.2</td><td></td><td>14.2</td></tr>
				<tr><td>1.105</td><td>25.3</td><td></td><td>15.0</td></tr>
				<tr><td>1.110</td><td>26.4</td><td></td><td>n/a</td></tr>
				<tr><td>1.115</td><td>27.5</td><td></td><td>n/a</td></tr>
				<tr><td>1.120</td><td>28.5</td><td></td><td>n/a</td></tr>
				<tr><td>1.125</td><td>29.6</td><td></td><td>n/a</td></tr>
				<tr><td>1.130</td><td>30.6</td><td></td><td>n/a</td></tr>
			</tbody>
		</table>
		<p>The above table isn't precise, but is a decent rule of thumb. Precise measurements are dependent on factors such as temperature, yeast variety, and fermentation vessel physical characteristics.</p>
	</div>
</section>
<section>
	<header>Resources</header>
	
    <div class="laff-section-copy">
		<ul>
			<li><a href="https://winemakermag.com/resource/1301-sulfite-calculator">Sulfite Calculator</a></li>
			<li><a href="https://winemakermag.com/resource/yeast-strains-chart">Yeast Strains Chart</a></li>
			<li><a href="https://www.awri.com.au/wp-content/uploads/2018/04/s1809.pdf">Predicting Alcohol Content</a></li>
		</ul>
	</div>
</section>

<script type="module">
	import { WineCalculator } from "/dist/wine.bundle.js";
	var wineCalculator = new WineCalculator();
	console.log(wineCalculator.ConvertSpecificGravityToBrix(1.047));
</script>
