<section>
    <header>World Builder</header>
    <div class="laff-section-copy">
        <p>
            My ultimate goal with the worldbuilder is to work backwards. Given a city, tell me all of the meta about it.
        </p>
        <div class="laff-section-content" id="reactApp"></div>
    </div>
</section>

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script src="/dist/worldbuilder.bundle.js"></script>
