<html>
    <head>
        <title>Portal0</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="laff-site-header">
            <h1 class="laff-logo">Portal0</h1>
            <ul class="laff-navbar pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/worldbuilder">DnD WorldBuilder</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="https://github.com/Ha1fDead">Github</a></li>
            </ul>
        </header>
        <section class="laff-site-body">
            <div class="laff-content">
                <h1 class="laff-title">World Builder</h1>
                <p>This is my World Builder! (or at least, here is where it should exist)</p>
            </div>
        </section>
        <footer class="laff-site-footer">
            This is owned and maintained by Nathan Lafferty. All rights reserved. Maybe I should learn my rights and how to maintain them from disney evil lawyers?
        </footer>
    </body>
</html>