<section>
    <header>World Builder</header>
    <div class="laff-section-copy">
        <div class="laff-section-content" id="reactApp"></div>
    </div>
</section>

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script src="/dist/worldbuilder.bundle.js"></script>
