<section>
    <header>Procedural Generation Challenges</header>
    <div class="laff-section-copy">
        <p>This is a container for challenges hosted on <a href="https://www.reddit.com/r/proceduralgeneration">reddit</a>.</p>

        <div class="laff-section-content" id="Challenge22"></div>
    </div>
</section>

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script src="/scripts/procgen22.bundle.js"></script>
