.laff-site-header {
  border: 5px solid #74c4c4;
  border-left: 0;
  border-right: 0;
  border-color: #74c4c4;
  margin-bottom: 1em;
  line-height: 3em; }

.laff-site-footer {
  border: 5px solid #74c4c4;
  border-left: 0;
  border-right: 0;
  border-color: #74c4c4;
  height: 4em; }

.laff-site-body {
  margin: 0 1rem;
  min-height: 100%;
  margin-bottom: -4em; }

.laff-navbar {
  margin: 0em;
  padding: 0em;
  list-style: none; }
  .laff-navbar li {
    display: inline-block;
    margin-left: -4px;
    border-right: 1px #74c4c4 solid;
    background: black; }
    .laff-navbar li a {
      color: #74c4c4;
      display: block;
      padding: 0 20;
      text-decoration: none; }

.laff-logo {
  margin: 0px;
  display: inline;
  margin-left: 1rem; }

.laff-title {
  margin-top: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.laff-sidebar {
  float: left;
  width: 20%;
  height: 100%;
  background-color: gray; }

.laff-btn-primary {
  background-color: #74c4c4;
  border-color: #74c4c4; }

.laff-button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  display: inline-block;
  padding: 2px 8px; }

.laff-video {
  width: 320px;
  height: 200px; }

div {
  color: black; }

body {
  margin: 0em; }
