.header {
  border-top: 5px solid #74c4c4;
  border-color: #74c4c4; }

.navbar {
  text-align: center; }
  .navbar a {
    margin: 0 20; }

div {
  width: 100%; }

.logo {
  line-height: 60px;
  margin: 0px;
  margin-left: 60px; }

.button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  display: inline-block;
  padding: 2px 8px; }

.title {
  margin-top: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.btn-primary {
  background-color: #74c4c4;
  border-color: #74c4c4; }

.sidebar {
  float: left;
  width: 20%;
  height: 100%;
  background-color: gray; }

.content {
  height: 100%; }

div {
  color: black; }

body {
  margin: 0px; }
