
.#{$namespace}-site-header {
    border: 5px solid $primary-colour;
    border-left: 0;
    border-right: 0;
    border-color: $primary-colour;
    margin-bottom: 1em;
    line-height: 3em;
}

.#{$namespace}-navbar {
    margin: 0em;
    padding: 0em;
    list-style: none;
        
    li {
        display: inline-block;
        margin-left: -4px;
        border-right: 1px $primary-colour solid;
        background: black;
        
        a {
            color: $primary-colour;
            display: block;
            padding: 0 20;
            text-decoration: none;
        }
    }
}