<header class="laff-site-header">
    <h1 class="laff-logo">Portal0</h1>
    <ul class="laff-navbar pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/worldbuilder">DnD WorldBuilder</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="https://github.com/Ha1fDead">Github</a></li>
    </ul>
</header>