<header class="laff-site-header">
    <h1 class="laff-logo">Lafferty.dev</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/worldbuilder.html">DnD WorldBuilder</a></li>
            <li><a href="/timedistance.html">Time/Distance Calculator</a></li>
            <li><a href="/components.html">Site Components</a></li>
            <li><a href="/medievaldemo.html">Medieval Demographics</a></li>
            <li><a href="/bladesclock.html">BitD Clock Tracker</a></li>
            <li><a href="/wine.html">Wine Info</a></li>
            <li><a href="https://github.com/LaffertyDev"><img src="/content/icons/svg/mark-github.svg"></img></a></li>
        </ul>
    </nav>
</header>
