@import '_scssconstants';

.#{$namespace}-logo {
    margin: 0px;
    display: inline;
    margin-left: 1rem;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.#{$namespace}-sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: $neutral-grey;
}

.#{$namespace}-column {
    column-width: 350px;
}
