@import 'scssconstants';
@import 'colors';
@import 'layouts';
@import 'components';

html {
    //font-size: 16px; Don't set a default font size, this way users can specify what size they want instead :)
    //poor ux as a result of this is on the user. The App should handle "normal" font sizes gracefully, but absurd 
    //sizes (72px?) don't need to be handled
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

div {
    color: $black;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr 50px;
    grid-row-gap: 1rem;
    margin: 0em;
    background-color: $complementary-neutral;
}

main {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

header, footer {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

section {
    background-color: $white;
    margin-bottom: 2rem;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.3);

    & > header {
        background-color: $complementary-neutral-light;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .#{$namespace}-section-copy {
        margin: 0.5em;
    }
}

a {
    text-decoration: none;
}

code {
    background-color: $complementary-neutral-light;
    padding: 1px 5px;
    display:inline-block;
    margin: 2px;
}

img {
    overflow: scroll;
}
