@import 'scssconstants';
@import 'colors';
@import 'layouts';
@import 'components';

html {
    //font-size: 16px; Don't set a default font size, this way users can specify what size they want instead :)
    //poor ux as a result of this is on the user. The App should handle "normal" font sizes gracefully, but absurd 
    //sizes (72px?) don't need to be handled
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

div {
    color: $black;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr 50px;
    grid-row-gap: 1rem;
    margin: 0em;
    background-color: $complementary-neutral;
}

section {
    background-color: $white;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 25px;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.3);
    padding-bottom: 10px;

    & > header {
        padding: 7px 15px;
        background-color: $complementary-neutral-light;
        font-size: 1.5em;
        line-height: 2em;
    }

    .#{$namespace}-section-copy {
        padding-left: 15px;
        padding-right: 15px;
    }
}

a {
    text-decoration: none;
}

label + input {
    margin-left: 5px;
}

input {
    font-size: 0.85em;
    padding: 0.25em;
}

code {
    background-color: $complementary-neutral-light;
    padding: 1px 5px;
    display:inline-block;
    margin: 2px;
}

form {
    max-width: 50vw;
}

button {
    &:hover {
        cursor: pointer;
    }
}

nav {
    ul {
        margin: 0em;
        padding: 0em;
        list-style: none;   

        li {
            display: inline-block;
            //margin-left: -4px;
            border: 1px solid $primary-dark;
            background-color: $primary-light;
            border-radius: 8px;
            line-height: 2em;

            a {
                color: $white;
                display: block;
                padding: 0 20px;
                text-decoration: none;
            }
        }
    }
}

td {
    padding: 5px;
}

thead {
    td {
        font-weight: 700;
    }
}

dl {
    display: grid;
    grid-template-columns: max-content max-content;
    line-height: 1.6;
}
  
dt {
    grid-column-start: 1;
    font-weight: bold;
}
  
dd {
    grid-column-start: 2;
}
