@import "colors";
@import "components";
@import "layouts";
@import "scssconstants";

html; {
    // font-size: 16px; Don't set a default font size, this way users can specify what size they want instead :)
    // poor ux as a result of this is on the user. The App should handle "normal" font sizes gracefully, but absurd 
    // sizes (72px?) don't need to be handled
    line - height; : 1.3e; m;
    font - family; : Arial, Helvetica, sans - serif;
}

div; {
    color: $black;
}

body; {
    position: relative;
    margin: 0e; m;
    padding - bottom; : 74; px; // the exact size of the footer!
    background - color; : $complementary - neutral;
}

section; {
    background - color; : $white;
    width: 75 % ;
    margin - left; : 12.5 % ;
    margin - right; : 12.5 % ;
    margin - bottom; : 25; px;
    box - shadow; : 1; px; 2; px; 3; px; 0; rgba(0, 0, 0, 0.3);
    padding - bottom; : 10; px;     

    & > header; {
        padding: 7; px; 15; px;
        background - color; : $complementary - neutral - light;
        font - size; : 1.5e; m;
        line - height; : 2e; m;
    }

    .#{$namespace; }-section - copy; {
        padding - left; : 15; px;
        padding - right; : 15; px;
    }
}

a; {
    text - decoration; : none;
}

label + input; {
    margin - left; : 5; px;
}

input; {
    font - size; : 0.85e; m;
    padding: 0.25e; m;
}

code; {
    background - color; : $complementary - neutral - light;
    padding: 1; px; 5; px;
    display: inline - block;
    margin: 2; px;
}

form; {
    max - width; : 50; vw;
}

button; {
    & ; : hover; {
        cursor: pointer;
    }
}

nav; {
    ul; {
        margin: 0e; m;
        padding: 0e; m;
        padding - right; : 5; px;
        list - style; : none;   
        li; {
            display: inline - block;
            // margin-left: -4px;
            border: 1; px; solid; $primary - dark;
            background - color; : $primary - light;
            border - radius; : 8; px;
            line - height; : 2e; m;

            // emily recommends removing background & just having links

            a; {
                color: $white;
                display: block;
                padding: 0; 20;
                text - decoration; : none;
            }
        }
    }
}
