<header class="laff-site-header">
    <h1 class="laff-logo">Portal0</h1>
    <nav class="pull-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/worldbuilder">DnD WorldBuilder</a></li>
            <li><a href="/procgen">ProcGen</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="https://github.com/Ha1fDead">Github</a></li>
            <li><a href="/components">Site Components</a></li>
            <li><a href="/dnd/action">DnD actiony</a></li>
            <li><a href="/dnd/battlemap">DnD Battlemap</a></li>
        </ul>
    </nav>
</header>