
.#{$namespace}-btn-primary {
    background-color: #74c4c4;
    border-color: #74c4c4;
}


.#{$namespace}-button {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
}