
.#{$namespace}-site-header {
    border: 5px solid $neutral-grey;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-bottom: 1em;
    line-height: 3em;
    background-color: $complementary-neutral-dark;
    color: $white;
}

.#{$namespace}-navbar {
    margin: 0em;
    padding: 0em;
    list-style: none;
        
    li {
        display: inline-block;
        //margin-left: -4px;
        background-color: $primary-light;
        border-radius: 8px;
        line-height: 2em;

        a {
            color: $white;
            display: block;
            padding: 0 20;
            text-decoration: none;
        }
    }
}