
.#{$namespace}-site-header {
    border: 5px solid $neutral-grey;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-bottom: 1em;
    line-height: 3em;
    background-color: $complementary-neutral-dark;
    color: $white;
}