<section>
    <header>DnD Action Economy</header>
    <legend>
        <ol>
            <li>Combat Loop</li>
            <li>What you can do</li>
            <li>Attacking</li>
            <li>Magic</li>
            <li>Types</li>
            <li>Inspiration</li>
        </ol>
    </legend>
</section>
<section>
    <header>Combat Loop</header>
    <ol>
        <li>Determine if anyone has surprise</li>
        <li>Establish positions on the board</li>
        <li>Roll initiative (surprise ground goes in order)</li>
        <li>Take turns</li>
        <li>Begin next round (#4) until end of combat</li>
    </ol>
    <h2>Notes</h2>
    <ul>
        <li>it is not your turn, decide what you are going to do!</li>
        <li>Yes, something might happen before your turn when the monsters take their turn that will change what you want to do. 
            Generally, however, it is much more likely that what you had wanted to do is still what you’re going to do. (This is the best advice for tabletop games in general)</li>
        <li>Flavour is fun! But it shouldn’t slow combat. Know what your flavour is, and be prepared that, worst-case, it does nothing</li>
        <li>Your flavour must conform to the rules! We can stretch them, but not break them.</li>
        <li>Combat turns should take ~5-10 seconds per turn</li>
        <li>Turn limits are capped at 30 seconds per turn</li>
        <li>A round should take no more than 5 minutes!</li>
        <li>The longer your turns take, the more “RNJesus” affects you. A miss doesn’t matter as much if you’re only out for 1 minute, whereas if rounds take 20 minutes then the game gets boring for everyone.</li>
        <li>Try to avoid metagaming</li>
        <li>Inordinate tactical communication can be heard by the enemy :)</li>
        <li>You should know exactly what a spell does &amp; how it is used before you use it</li>
        <li>Monsters generally have a theme, strength, and weakness. Trying to figure this out is a good idea</li>
        <li>A round of combat, in game time, lasts 6 seconds</li>
        <li>Monsters follow the exact same set of rules that you do, with few exceptions</li>
        <li>Monsters will react to you and what you are doing. Use this to your advantage</li>
        <li>Always have your “AC” and “Passive Perception” numbers ready</li>
        <li>Always have your attack / spellcasting / damage dice numbers ready</li>
    </ul>
    <p>
        Cover:
        <ul>
            <li>1/2 cover is +2 ac, dex throws</li>
            <li>3/4 cover: +5 ac, dex throws</li>
            <li>Total cover: cannot hit (melee or ranged), dex throws auto save</li>
        </ul>
    </p>
    <p>
        Remembering the above allows me, the Dungeon Master, to play the game with you instead of being a rules engine. The shorter turns everyone takes, the more time we can allocate to cool things and epic protagonist moments.
    </p>
</section>
<section>
    <header>What you can do</header>
    <ol>
        <li>Move</li>
        <li>Interact</li>
        <li>Use an action</li>
        <li>Use a bonus action</li>
        <li>Use a reaction</li>
    </ol>
    <h2>Actions</h2>
    <ul>
        <li>Attack</li>
        <li>Cast a spell</li>
        <li>Dash</li>
        <li>Disengage</li>
        <li>Dodge</li>
        <li>Grapple / contest grapple</li>
        <li>Help</li>
        <li>Hide</li>
        <li>Improvise</li>
        <li>Ready (Consumes action &amp; reaction)</li>
        <li>Search</li>
        <li>Shove</li>
        <li>Stabilize (use medical kit)</li>
    </ul>
    <h2>Interact (aka Free Action)</h2>
    <ul>
        <li>draw/sheathe a weapon</li>
        <li>open/close a door</li>
        <li>grab an item from your pack</li>
        <li>hand an item to another player</li>
        <li>throw a lever or switch, turn a key</li>
        <li>pull hood up</li>
        <li>drink a potion</li>
        <li>etc.</li>
    </ul>
    <h2>Moving</h2>
    <ul>
        <li>When you run out of move speed, you can’t move at all! Your jump ends there</li>
        <li>You can long jump equal to your strength score (in feet) if you move at least 10 feet before the jump (half from a standing jump)</li>
        <li>You can high jump equal to 3’ + strength modifier if you move at least 10 feet before the high jump (half from a standing jump)</li>
        <li>You can add half your height to grab onto a ledge</li>
        <li>Swimming &amp; Climbing costs double movement</li>
        <li>Difficult terrain costs double movement (on top of existing modifiers). The cost of movement is to enter the square, not leave it. So if you have 5’ of movement left, and you want to move onto difficult terrain, you cannot do that</li>
        <li>Special movements (getting up from prone, mounting a horse etc.) consume half your move speed</li>
        <li>Skill checks can extend the distances you can jump / climb</li>
    </ul>
    <h2>Bonus action</h2>
    <ul>
        <li>Most class features use your bonus action</li>
        <li>When you make skill checks (intimidate, etc..) you can normally use either an action or a bonus action</li>
        <li>All bonus actions can be used as actions, but not all actions can be used as bonus actions</li>
    </ul>
</section>
<section>
    <header>Attacking</header>
    <ul>
        <li>DC means "Difficulty Check" or the number that you need to reach to do something</li>
        <li>Advantage &amp; disadvantage cancel eachother out</li>
        <li>Resistance means takes half damage</li>
        <li>Vulnerable to means double the damage</li>
        <li>Class features may break up the standard combat loop</li>
        <li>"Flanking" means you can draw a line between your character and another character on an enemy. This gives both of you advantage on your attacks.</li>
        <li>Rolling a 1 is an automatic miss, and rolling a 20 is an automatic crit. Crit means roll double damage (so 2d8 instead of 1d8)</li>
        <li>Area of effect, see: <a href="http://rpg.stackexchange.com/questions/46492/how-do-i-map-a-15-cone-to-a-1-grid">AoE Help</a></li>
    </ul>
    <p>
        Generally, combat will go:
    </p>
    <ol>
        <li>Declare your attack</li>
        <li>Roll to hit w/ damage dice</li>
        <li>DM will declare results</li>
    </ol>
    <p>
        The below sections will further elaborate
    </p>
    <h2>Melee Combat</h2>
    <p>Melee combat is definitely the most straightforward. Walk up, declare to hit. Your formula is: <code>1d20 + profiency bonus + strength</code>. If you have a <code>Finese</code> weapon, you can add dexterity instead of strength.</p>
    <h2>Ranged Combat</h2>
    <ul>
        <li>80/320 means you can hit something 80 feet away without a penalty, 320 feet away with disadvantage</li>
        <li>Firing into melee (opponent is engaged in combat with an ally) gives you disadvantage</li>
    </ul>
    <h2>Spell Combat</h2>
    <ol>
        <li>Declare your spell</li>
        <ul>
            <li>Name of spell</li>
            <li>School of magic</li>
            <li>Type of spell (melee, ranged, save, other)</li>
            <li>Spell slot expended</li>
            <li>Damage done</li>
            <li>Save DCs</li>
        </ul>
        <li>Roll to hit / damage</li>
        <li>DM will declare results</li>
    </ol>
    <p>
        Spell Damage:
        <ul>
            <li>Melee spell attack (aka "Touch" attack) <code>1d20 + profiency bonus + spellcasting modifier</code> against enemy AC</li>
            <li>Ranged spell attack <code>1d20 + profiency bonus + spellcasting modifier</code> against enemy AC</li>
            <li>Save spell <code>8 + proficiency bonus + spellcasting modifier</code> against enemy save</li>
            <li>Other (typically a variant of "Save")</li>
        </ul>
    </p>
    <p>
        Spellcasting modifier list:
        <ul>
            <li><strong>Intelligence</strong>: Wizard</li>
            <li><strong>Charisma</strong>: Bard, Paladin, Sorcerer, Warlock</li>
            <li><strong>Wisdom</strong>: Cleric, Druid, Monk, Ranger</li>
            <li><a href="https://www.reddit.com/r/DnD/comments/2hpy09/5e_spellcasting_class_ability_reference_table/">Other</a></li>
        </ul>
    </p>
</section>
<section>
    <header>Magic</header>
    <h2>Spellcasting Requirements - C/V/S</h2>
    <p>
        Spells ar really loud. Somatic means you need at least one hand free to cast
        Can’t make somatic gestures if your hands are bound
        Can’t make somatic gestures if you have no hands
    </p>
    <p>
        Components are normally free, assuming you have a component pouch or spellcasting focus (depending on class)
        Components that have a gold cost associated with them, e.g. holy water, are not free
        Read the spell components! They are normally funny and ironic
    </p>
    <h2>Concentration</h2>
    <p>
        You can only have one concentration spell active
        Concentration spells last until you end concentration (willingly), or the duration runs out
        If you take any damage while concentrating, you must make a con save
        DC is 10 or the half the damage, whichever is higher
    </p>
    <h2>Spells Known &amp; Spells Prepared</h2>
    <h2>Obtaining spells</h2>
    <p>
        Some castors gain new spells every time they level up, and can cast spells from this “Spell Pool” whenever they wish
        Some castors always have the same number of spells known (e.g. clerics). But every long rest they “pick” which spells they have “prepared” for that day
        Warlocks always know all of their spells, but only have a limited number of spell slots
    </p>
    <h2>Gotchyhas</h2>
    <ul>
        <li>Spell level is NOT the same as character level</li>
    </ul>
</section>
<section>
    <header>Types</header>
    <p>
        Lots of times, your spells / effects come with types, or they specify types. These are the official lists of all types in DnD 5e. 
        Besides magic, this information is 100% public knowledge -- if you can see a creature or are in a region you know its type instantly and do not need to roll for this information. For magic, 
        a high investigation check or a spell (Detect Magic) can be used to find magic.
    </p>
    <h2>Types <a href="http://i.imgur.com/RHtZfXy.png">details</a></h2>
    <ul>
        <li></li>
        <li>Bludgeoning</li>
        <li>Piercing</li>
        <li>Slashing</li>
        <li>Acid</li>
        <li>Cold</li>
        <li>Fire</li>
        <li>Force</li>
        <li>Lightning</li>
        <li>Necrotic</li>
        <li>Poison</li>
        <li>Psychic</li>
        <li>Radiant</li>
        <li>Thunder</li>
    </ul>
    <h2>Schools <a href="https://roll20.net/compendium/dnd5e/Wizard%20Spells%20by%20School#content">details</a></h2>
    <ul>
        <li>Abjuration</li>
        <li>Conjuration</li>
        <li>Divination</li>
        <li>Enchantment</li>
        <li>Evocation</li>
        <li>Illusion</li>
        <li>Necromancy</li>
        <li>Transmutation</li>
    </ul>
    <h2>Monster Types</h2>
    <ul>
        <li>Aberration</li>
        <li>Beast</li>
        <li>Celestial</li>
        <li>Construct</li>
        <li>Dragon</li>
        <li>Elemental</li>
        <li>Fey</li>
        <li>Fiend</li>
        <li>Giant</li>
        <li>Humanoid</li>
        <li>Monstrosity</li>
        <li>Ooze</li>
        <li>Plant</li>
        <li>Undead</li>
    </ul>
    <h2>Environments</h2>
    <ul>
        <li>Arctic</li>
        <li>Coastal</li>
        <li>Desert</li>
        <li>Forest</li>
        <li>Grassland</li>
        <li>Hill</li>
        <li>Mountain</li>
        <li>Swamp</li>
        <li>Underdark</li>
        <li>Underwater</li>
        <li>Urban</li>
    </ul>
</section>
<section>
    <header>Inspiration</header>
    <p>Inspiration allows you to get advantage on any roll. It is exclusively given out as a treat by the dungeon master. Here is what you need to know:</p>
    <ul>
        <li>Inspiration must be used in the same session as it was given (No hoarding!)</li>
        <li>Inspiration will almost always be given out if you correct the dungeon master on a rule</li>
        <li>Inspiration will almost always be given out for out-of-the-box, clever, thinking</li>
        <li>Inspiration will almost always be given out for kickass roleplaying as your character</li>
        <li>Inspiration will only be given out for amazing rule-of-cool situations</li>
        <li>Inspiration will never be given out for sitting on your phone</li>
    </ul>
</section>