
.#{$namespace; }-btn - primary; {
    background - color; : $primary - colour;
    border - color; : $primary - dark;
}


.#{$namespace; }-btn; {
    appearance: button;
    -moz - appearance; : button;
    -webkit - appearance; : button;
    text - decoration; : none; font: menu;
    display: inline - block; padding: 2; px; 8; px;
    margin: 5; px; 0;
    border - radius; : 5; px;
}
