label {
	margin-right: 0.5em;
	font-weight: bold;
}

form {
	p {
		font-size: 0.9em;
		margin: 0.5em;
	}
}

input {
	font-size: 100%; // font-size on mobile, if less than 16px, will "Zoom In" when the input is selected
	padding: 0.3em;
	margin: 0.5em 0;

	@media (max-width: 600px) {
		width: 100%;
	}
}
