label {
	margin-right: 0.5em;
}

form {
	p {
		font-size: 0.8em;
		margin: 0em;
	}
}

fieldset {
	margin: 1em 0;

	legend {
		font-weight: bold;
	}
}

input {
	font-size: 100%; // font-size on mobile, if less than 16px, will "Zoom In" when the input is selected
	padding: 0.3em;
	margin: 0.5em 0;
}

input:not([type="checkbox"]):not([type="radio"]) {
	@media (max-width: 600px) {
		width: 100%;
	}
}

form {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.form-condensed {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-column-gap: 1em;
}

output {
	border: 1px solid $primary-neutral;
	background-color: $primary-neutral-light;
	padding: 1.5em;
	display: block;
}
