.#{$namespace}-site-header {
    border-bottom: 3px solid $neutral-grey;
    background-color: $complementary-neutral-dark;
    color: $white;
    padding: 0.5em;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.#{$namespace}-logo {
    margin: 0px;
}
