nav {
    ul {
        margin: 0em;
        padding: 0em;
        list-style: none;   

        li {
            display: inline-block;
            //margin-left: -4px;
            border: 1px solid $primary-dark;
            background-color: $primary-light;
            border-radius: 8px;
            line-height: 2em;

            a {
                color: $white;
                display: block;
                padding: 0 20px;
                text-decoration: none;
            }
        }
    }
}

.#{$namespace}-site-header {
    border-bottom: 3px solid $neutral-grey;
    background-color: $complementary-neutral-dark;
    color: $white;
    justify-content: space-between;
}

.#{$namespace}-logo {
    // I'm not really happy about this
    // This is because I can't intsersect the logo's margin with the
    // header's padding
    // I can't change the header's padding because I want all headers to have an internal padding
    // I still want spacing between the logo and the nav elements, though
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}
