dl {
    display: grid;
    grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
    line-height: 1.6;
}
  
dt {
    grid-column-start: 1;
    font-weight: bold;
}
  
dd {
    grid-column-start: 2;
}

.#{$namespace}-column {
	column-width: 350px;
	
	dl {
		margin: 0px;
	}
}
